{
    email tt@turingtested.xyz
}

turingtested.xyz {
    reverse_proxy web:80
}

www.turingtested.xyz {
    redir https://turingtested.xyz{uri}
}

notes.turingtested.xyz {
	reverse_proxy localhost:3000
}
