<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About - Turing Tested</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <header>
            <h1>About Me</h1>
            <div class="tagline">FOSS shill</div>
        </header>

        <div class="nav" style="margin-top: 20px; text-align: center;">
            <a href="/">[home]</a>
            <a href="/blogs">[blogs]</a>
            <a href="/about">[about]</a>
            <a href="/pgp">[pgp]</a>
        </div>

        <div class="interests" style="text-align: left; margin-top: 40px; margin-bottom: 20px;">
            <p>I'm Turing Tested. Here's my home on the internet. I mainly plan on posting my kernel dev journey and homelabbing pursuits.</p>

            <h2 style="font-size: 1.2rem; color: #00ff9c; margin-top: 30px;">Socials</h2>
            <ul style="list-style-type: none; padding: 0;">
                <li style="margin-bottom: 10px;">
                    >&nbsp;Email:<br>
                    <div style="border: 1px solid #00ff9c; padding: 15px; margin-top: 10px; display: inline-block; background: #020202; border-radius: 8px;">
                        <img src="/static/email.png" alt="Email Address" style="vertical-align: middle; margin-bottom: 10px; max-width: 250px; height: auto;"><br>
                        I've noticed that the number of bots crawling my website has gone up lately. You can find my PGP key <a href="/pgp" style="text-decoration: underline; color: #00ff9c;">here</a>.
                    </div>
                </li>
                <li style="margin-bottom: 10px;">
                    >&nbsp;GitHub: <a href="https://github.com/turingverified" target="_blank">@turingverified</a>
                </li>
                <li style="margin-bottom: 10px;">
                    >&nbsp;XMPP: <a href="xmpp:turingtested@jabber.fr">turingtested@jabber.fr</a>
                </li>
            </ul>
        </div>

        <div style="margin-top: 40px;">
            <a href="/" style="color: #00ff9c; text-decoration: none;">[cd ~] Return Home</a>
        </div>
    </div>

</body>

</html>