<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PGP Key - Turing Tested</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <header>
        <h1>PGP Public Key</h1>
        <div class="tagline">Secure Communication</div>
    </header>

    <div class="nav" style="margin-top: 20px; text-align: center;">
        <a href="/">[home]</a>
        <a href="/blogs">[blogs]</a>
        <a href="/about">[about]</a>
        <a href="/pgp">[pgp]</a>
    </div>

    <div style="text-align: left; margin-top: 40px; margin-bottom: 20px;">
        <p>If you need to send me an encrypted email (tt@turingtested.xyz) or verify a signature, you can use the following PGP public key block:</p>
        
        <pre style="background: #020202; border: 1px solid #00ff9c; padding: 15px; overflow-x: auto; color: #00ff9c; box-shadow: inset 0 0 10px rgba(0, 255, 156, 0.1); border-radius: 8px;">
            -----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: F902 C22A 0181 D858 9003  884A 097B C53F F8D4 1046
Comment: Turing Tested <tt@turingtested.xyz>

xsDNBGml+V8BDAC2GNxfXSJXCF3P4vrGUhLZNDpqzQavbfXqzTEEDpBpTOUNz9/7
0ZXVdUgtnb7mKhAync966AE3ufe6c7kUlTjouTet7YC9PXWR1yqiXM3+q61fof3H
ObW0/aEc0tUf1S2U29kRY1f4SeGb9Sz55zKreQbnsvp0jdCG49hna3jh63n7SLwc
hqj8HpDZ+yrdw3uFGwuDcL1B584JI4NAsrtdVkQbnW91E4U0boEhf5JNFfqzyKii
LOFBI9TXh4Lp+c1WwFV5Dlyb/YWULYNNMFFIOwoIW7PqAZ2VJ5S2Aff9T7/5eRw2
iKgAUUYGgzBl7hs4fmPftM3t6SOjWjQwqPipJ5+V8T4mQtlk4MoTm7gwXIxIdbzq
PDoHNpuYXKVWgEb9yAMvmvbV2Op4vHXd0gcrpaBoIumra5XuAvk+IPVcMgg0AErD
zmCMEV7s9DabwaHP8ZLFSi80rTz9aqI4/mes+64VzaIUeBmjM4dZvNg4WM0GUuVM
Xj9Muj+rHaFoB8UAEQEAAc0jVHVyaW5nIFRlc3RlZCA8dHRAdHVyaW5ndGVzdGVk
Lnh5ej7CwQcEEwEIADEWIQT5AsIqAYHYWJADiEoJe8U/+NQQRgUCaaX5XwIbAwQL
CQgHBRUICQoLBRYCAwEAAAoJEAl7xT/41BBGZyoL/3z08dQyEgR7kzx3wECVvUy/
sAjroyUJtcMnXHOGItVlcA0cipqpvCu2WNrkvttK+jRJ6q9y/iRl1ZEuyPiUEn3+
9zs/nInggEK0hSShmSFTMYVKgsOg9wOSkJ7xkYr32kwiiiugZ+Ru9T8/0xdf3NFK
lMa9Q2KBNCqWnxgVNS8AAfoYamy39DBHdQolpn2AhRvwx27wstPwv43JNcvZAZdS
96HvrMAjiCgkfteyMOzSj+M7DeLdqb5zQR6Mmk+cjAZu4sW6ACxXviPlAJ2fwDMQ
swAosx63gik8UukOdLr24SFznV8xyMrCPTgCxlB2nBqhuTJCljg0kN82pdGlnnui
eYe3nqVeW9cEA13a4Ck1ubvmkwbEXH6oZx/6CgW1Mo14bQy8mhvVZBRIvSOnq/VL
JXu73kCVfpnvJ2VLdijnvum0w7nEBpwJRkWo6YjrlVWQbk+RRS1acVfcrQARs+la
RQSvySIqTH7BNqm74rpXXCspkyUm0BA78Lv7l1pZys7AzQRppflfAQwAuKiBSH1A
kJBu4woBQbIg98qRSynIpZDp8bGW+lTyFx6N1KXjYK8IP8/0MNCR9EBwzLlBYhP7
5meXf5dh3Vb0KHS4yN3BBSXZa5q4KGyJ6fmS25uDbYlO15QMz5G9uJWP9cQPE9xd
hN6XmrYQSfSpC2qB/2BgF+MbxEqCBdC4HFR/Mrbu9M6sOwCNLXk37Zb22tdvotKi
CLXUMVaYvFh4nWIPpiyBSz9xZV1Zpo2WIVjI8flfvzIn1Z5uzME4Y1jHV2YaD1aX
wRhsE2l7pJLl/JI590SahGZRHaVKXI5ij+oSZ3Xdar7Z8xrm0a0dXub6TT/eHhYu
Sqy8shfZYzEJP4jGQ4hGHVIQeGWkN68u9SskQeUUVKGakFpbitBmItG4jUBGA9s/
8ZIs++622L91t7pfn4D3cpRn/qSafY/q8JvCkWFTX24TlHaQYH3A4Eed7BOVs75B
ciTqdudaaTt6Dv8cCgp32h7EGLaWbQjKytzg9ZkVU2rrQfLKdamDsigBABEBAAHC
wPYEGAEIACAWIQT5AsIqAYHYWJADiEoJe8U/+NQQRgUCaaX5YAIbDAAKCRAJe8U/
+NQQRh/uC/9yEHYvmjoQ48mWXUZnBHYDymUSicGXT9WQbBnTC9DFjw1NAnXxZSsN
opH9lDpLWjmyU5yC720k2lNeRznarTee61xo+EzXQzWHNghBxneCzlc5KjErgoyp
MrrWY9eg3bT143iMefpPzytQvHkc8pCw4kFsE15UoAkHMSy9MPkJCWEbMotKocsg
f7jPgIqABCXAXCY0Luyoril2aErTjYQTgLN4NhKWrDA016FO2bVC/sSu8OMuBEqM
jVHmJwSfg3cO/FdzA17vZUwA+0Bl2ruscweiPTZp8JtvOiDpFO0SyOcF5f/nuKvB
ifVbiE/g3CxYTAGw92TgzUMJ0KswT7I9mcOgQ3sXFyYX4K+81oRumyI5AvSKKuQN
dQYHNTyINKz/fFHtM9Wib8sKtE9OYTzLx6v3DF+7EFl7kshyvcxgoTZVJKrYPLJD
6YH520r6p8LcZZNNYGrvSWZ8gPPnA1rt1nlUump1JSrippJoHGccPCQDf5THBBHa
ptVk8b33++0=
=jtfI
-----END PGP PUBLIC KEY BLOCK-----

        </pre>
    </div>
    
    <div style="margin-top: 40px;">
        <a href="/" style="color: #00ff9c; text-decoration: none;">[cd ~] Return Home</a>
    </div>
</div>

</body>
</html>
